p {
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0;
}

.search-bar {
    display: block;
    margin-bottom: 20px;
}

.video-preview {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    margin-bottom: 15px;
}

.thumbnail {
    width: 300px;
    display: block;
}

.video-author {
    font-size: 12px;
    columns: rgb(96, 96, 96);
    margin-bottom: 4px;
}

.video-title {
    font-weight: 550;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 20px;
}

.video-stat {
    font-size: 12px;
    columns: rgb(96, 96, 96);
}

.channel-picture {
    display: inline-block;
    width: 50px;
    vertical-align: top;
}

.profile-picture {
    width: 100%;
    border-radius: 40px;
}

.video-info {
    display: inline-block;
    width: 200px;
}

.thumbnail-row {
    margin-bottom: 12px;
}