.search-bar {
    display: block;
    margin-bottom: 20px;
}

.video-preview {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    margin-bottom: 15px;
}

.thumbnail {
    width: 300px;
    display: block;
}



.video-title {
    width: 300px;
}

.video-author {
    font-family: arial;
}

.video-stat {
    font-family: arial;
}
