@media (min-width:0px) and (max-width: 700px) {
    .header-center {
        flex: 1;
    }

    .search-bar {
        max-width: 100%;
    }

}

@media (min-width:0px) and (max-width: 700px) {
    .video-container-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width:701px) and (max-width: 999px) {
    .video-container-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:1000px) and (max-width:1250px) {
    .video-container-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1250px) {
    .video-container-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}