@media (max-width: 600px) {

    /* for videos 1 frame */

    .video-container-grid {
        grid-template-columns: 1fr;
    }

    /* For header content resonsivee */
    .header-center {
        flex: 1;
    }

    .header {
        justify-content: space-between;
        padding: 0 10px;
    }

    .header-center {
        margin-left: 10px;
        margin-right: 10px;
        max-width: 100%;
    }

    .search-bar {
        display: none;
    }

    .search-button {
        width: 40px;
        margin-right: 5px;
    }

    .header-right {
        width: auto;
        margin-right: 10px;
        gap: 10px;
    }

    /* For sidebar content resonsivee */
    .sidebar {
        position: fixed;
        background-color: white;
        left: 0;
        right: 0;
        bottom: 0;
        height: 60px;
        top: 92%;
        width: 100%;
        z-index: 200;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid #d1d0d0;

    }

    .sidebar-link {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        cursor: pointer;
    }

    .sidebar-link:hover {
        background-color: rgb(236, 235, 235);
    }

    .sidebar-link img {
        height: 24px;
        margin-bottom: 4px;
    }

    .sidebar-link div {
        font-size: 10px;
    }


    body {
        font-family: Roboto, Arial;
        margin: 0;
        padding-top: 70px;
        padding-left: 2px;
        padding-right: 1px;
        padding-bottom: 70px;
        background-color: rgb(248, 248, 248);
    }
}


@media (min-width:601px) and (max-width: 999px) {
    .video-container-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:1000px) and (max-width:1250px) {
    .video-container-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1250px) {
    .video-container-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}