

@media (min-width:0px) and (max-width: 700px) {
    .header-center {
        flex: 1;
    }

   .header {
        justify-content: space-between;
        padding: 0 10px;
    }

    .header-center {
        margin-left: 10px;
        margin-right: 10px;
        max-width: 100%;
    }

    .search-bar {
        display: none; 
    }

    .search-button {
        width: 40px;
        margin-right: 5px;
    }

    .header-right {
        width: auto;
        margin-right: 10px;
        gap: 10px;
    }
}

@media (min-width:0px) and (max-width: 700px) {
    .video-container-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width:701px) and (max-width: 999px) {
    .video-container-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:1000px) and (max-width:1250px) {
    .video-container-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1250px) {
    .video-container-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}