@media (max-width: 600px) {

    .video-container-grid {
        grid-template-columns: 1fr;
    }


    /* header */
    .header {
        justify-content: space-between;
        padding: 0 10px;
    }


    .header-center {
        flex: none;
        margin: 0 5px;
        max-width: 50%;
    }

    .search-bar {
        display: none;
    }

    .search-button {
        width: 40px;
        margin-right: 5px;
    }

    .header-right {
        width: auto;
        gap: 6px;
    }

    .hamburger-menu {
        margin-left: 10px;
        margin-right: 10px;
    }

    .header-left {
        width: auto;
        display: flex;
        align-items: center;
    }


    /* sidebar bottom */
    .sidebar {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 60px;
        width: 100%;
        z-index: 200;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid #d1d0d0;
        background-color: white;
    }

    body {
        margin: 0;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 70px;
        background-color: rgb(248, 248, 248);
    }
}

@media (min-width:601px) and (max-width: 999px) {
    .video-container-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:1000px) and (max-width:1250px) {
    .video-container-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1250px) {
    .video-container-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}