.video-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    row-gap: 40px;
}

.video-preview {
    width: 100%;
}

.thumbnail {
    width: 100%;
}

.video-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-column-gap: 12px;
}

.video-author {
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-bottom: 4px;
}

.video-title {
    font-weight: 550;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
}

.video-stat {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.channel-picture {
    vertical-align: top;
}

.profile-picture {
    width: 100%;
    border-radius: 50px;
}

.video-info {
    width: 100%;
}

.thumbnail-row {
    margin-bottom: 12px;
}