.video-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 750px) {
    .video-container-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:751px) and (max-width:999px) {
    .video-container-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-container-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-preview {
    width: 100%;
}

.thumbnail {
    width: 100%;
}

.video-grid {
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-column-gap: 12px;
}

.video-author {
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-bottom: 4px;
}

.video-title {
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
}

.video-stat {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.channel-picture {
    vertical-align: top;
}

.profile-picture {
    width: 36px;
    border-radius: 50px;
}

.video-info {
    width: 100%;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.video-time {
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 4px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}


.video-link {
    text-decoration: none;
    color: inherit;
}

.channel-link {
    text-decoration: none;
    color: inherit;
}